<div class="hm-newsletter-subscribe">
  <div class="hm_newsletter">
    {% block container_form %}
      <form class="form-horizontal container-content-item" novalidate>
        <input type="hidden" name="client_id" value="{{ client_id }}">
        <input type="hidden" name="source" value="{{ source }}">

        {% block container_form__headline %}
          <span class="hm_newsletter__headline">{{ headline }}</span>
        {% endblock %}

        {% block container_form__description %}
          <div class="hm_newsletter__description">{{ text|raw }}</div>
        {% endblock %}

        {% block container_form__form_groups %}
          <div class="hm_newsletter__newsletters form-group" {% if newsletters|length == 1 %}style="display: none;{% endif %}">
            {% for nl_id, nl_label in newsletters %}
              <div class="checkbox">
                <label for="{{ nl_id }}">
                  <span class="hm_newsletter__nl_logo nl_logo_{{ nl_id }}"></span>
                  <input type="checkbox" name="groups[]" id="{{ nl_id }}" value="{{ nl_id }}" {% if newsletters|length == 1 %}checked="checked"{% endif %}> {{ nl_label }}
                </label>
              </div>
            {% endfor %}
          </div>
          <span class="hm_newsletter__headline2">Persönliche Daten</span>

          {% if title.is_visible %}
            <div class="hm_newsletter__salutation form-group">
              {% if title.label_display.label %}<label class="control-label required" for="salutation">{% if title.label_text %}{{ title.label_text }}{% else %}Anrede{% endif %}:</label>{% endif %}
              <select class="form-control" name="salutation" required="required">
                <option value="">- Ausw&auml;hlen -</option>
                <option>Frau</option>
                <option>Herr</option>
              </select>
            </div>
          {% endif %}

          {% if firstname.is_visible or name.is_visible %}
            <div class="hm_newsletter__wrap2col clearfix">
              {% if firstname.is_visible %}
                <div class="hm_newsletter__firstname hm_newsletter__col form-group">
                  {% if firstname.label_display.label %}<label class="control-label required" for="firstname">{% if firstname.label_text %}{{ firstname.label_text }}{% else %}Vorname{% endif %}:</label>{% endif %}
                  <input type="text" class="form-control" id="firstname" name="firstname" required="required" {% if firstname.label_display.placeholder %}placeholder="{{ firstname.placeholder_text }}"{% endif %}>
                </div>
              {% endif %}
              {% if name.is_visible %}
                <div class="hm_newsletter__lastname hm_newsletter__col form-group">
                  {% if name.label_display.label %}<label class="control-label required" for="lastname">{% if name.label_text %}{{ name.label_text }}{% else %}Nachname{% endif %}:</label>{% endif %}
                  <input type="text" class="form-control" id="lastname" name="lastname" required="required" {% if name.label_display.placeholder %}placeholder="{{ name.placeholder_text }}"{% endif %}>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if zipcode.is_visible or location.is_visible %}
            <div class="hm_newsletter__wrap2col clearfix">
              {% if zipcode.is_visible %}
                <div class="hm_newsletter__postcode hm_newsletter__col form-group">
                  {% if zipcode.label_display.label %}<label class="control-label" for="postalcode">{% if zipcode.label_text %}{{ zipcode.label_text }}{% else %}Postleitzahl{% endif %}:</label>{% endif %}
                  <input type="text" class="form-control" id="postalcode" name="postalcode" {% if zipcode.label_display.placeholder %}placeholder="{{ zipcode.placeholder_text }}"{% endif %}>
                </div>
              {% endif %}
              {% if location.is_visible %}
                <div class="hm_newsletter__city hm_newsletter__col form-group">
                  {% if location.label_display.label %}<label class="control-label" for="city">{% if location.label_text %}{{ location.label_text }}{% else %}Ort{% endif %}:</label>{% endif %}
                  <input type="text" class="form-control" id="city" name="city" {% if location.label_display.placeholder %}placeholder="{{ location.placeholder_text }}"{% endif %}>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if birthdate.is_visible %}
            <div class="hm_newsletter__dob form-group">
              {% if birthdate.label_display.label %}<label class="control-label" for="dob">{% if birthdate.label_text %}{{ birthdate.label_text }}{% else %}Geburtsdatum{% endif %}:</label>{% endif %}
              <select name="dob_day">
                {% for bd, bd_label in birthday.day %}
                  <option value="{{ bd }}">{{ bd_label }}</option>
                {% endfor %}
              </select>
              <select name="dob_month">
                {% for bm, bm_label in birthday.month %}
                  <option value="{{ bm }}">{{ bm_label }}</option>
                {% endfor %}
              </select>
              <select name="dob_year">
                {% for by, by_label in birthday.year %}
                  <option value="{{ by }}">{{ by_label }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}

          <div class="hm_newsletter__email form-group">
            {% if email.label_display.label %}
              <label class="control-label required" for="email">{{ email.label_text }}:</label>
            {% endif %}
            <input type="email" class="form-control" id="email" name="email"
                   required="required" {% if email.label_display.placeholder %}placeholder="{{ email.placeholder_text }}"{% endif %}>
          </div>
          <span class="hm_newsletter__required_info">* Pflichtfeld</span>
        {% endblock %}

        {% if privacy != 'off' or optin != 'off' %}
          <span class="hm_newsletter__headline2">Datenschutzabfrage</span>
          {% block container_form__privacy %}
            {% if privacy != 'off' %}
              <div class="hm_newsletter__permissions privacy form-group" {% if privacy == 'required' %}data-required="true"{% endif %}></div>
              <div class="hm_newsletter__privacy container-content-item promo_permission_text--hidden container-content-item">
                <span class="icon icon-close"></span>
                <div class="container-content-dynamic"></div>
              </div>
            {% endif %}
          {% endblock %}
          {% block container_form_optin %}
            {% if optin != 'off' %}
              <div class="hm_newsletter__permissions optin form-group" {% if optin == 'required' %}data-required="true"{% endif %}></div>
            {% endif %}
          {% endblock %}
        {% endif %}

        {% block container_form__alerts %}
          <div class="hm_newsletter__alerts"></div>
        {% endblock %}

        <div class="hm_newsletter__submit">
          <button type="submit" class="btn btn-default">{{ submit_label }}</button>
        </div>

        {% block container_form__imprint %}
          {% if imprint_text is not empty %}
            <span class="hm_newsletter__headline2">Impressum</span>
            <div class="hm_newsletter__imprint">
              {{ imprint_text }}
            </div>
          {% endif %}
        {% endblock %}
      </form>
    {% endblock %}

    {% block container_success %}
      <div class="hm_newsletter__success container-content-item">
        <div class="content-wrapper">
          {% block container_success__headline %}
            <div class="text-headline ">{{ confirmation_headline }}</div>
          {% endblock %}
          {% block container_success__confirmation_text %}
            {{ confirmation_text|raw }}
          {% endblock %}
        </div>
      </div>
    {% endblock %}

    {% block container_strings %}
      <script type="application/json" class="hm_newsletter__strings">
        {
          "mail_required": "Die E-Mail-Adresse ist erforderlich.",
          "mail_malformed": "Die E-Mail-Adresse muss gültig sein.",
          "required": "Das Feld ist erforderlich.",
          "check_mail": "Bitte überprüfen Sie die Eingabe der E-Mail Adresse.",
          "promo_premissions": "Bitte bestätigen Sie die Datenschutzeinwilligung."
        }
      </script>
    {% endblock %}
  </div>
</div>
